.emailbody {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 0 10px;
  height: 40px;
}
.emailbody:hover {
  box-shadow: 2px 2px 4px whitesmoke;
  cursor: pointer;
}
.emailbody__left {
  display: flex;
  align-items: center;
  min-width: 300px;
  flex: 20%;
}
.emailbody__left svg {
  font-size: 18px;
  color: grey;
  margin-right: 15px;
  cursor: pointer;
}
.emailbody__left h4 {
  font-size: 14px;
}

.emailbody__middle {
  display: flex;
  align-items: center;
  flex: 90%;
}
.emailbody__middle .emailbody__middle__msg {
  display: flex;
  width: 90%;
}
.emailbody__middle p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px;
  max-width: 625px;
}
.emailbody__right {
  display: flex;
  align-items: center;
  flex: 10%;
  justify-content: flex-end;
}
.emailbody__right p {
  font-size: 12px;
}
